.mdlext-lightbox {
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  width: auto;
  max-width: 100%;
  position: relative;

  figure {
    margin: 0;
    padding: 0;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }
    figcaption {
      position: absolute;
      bottom: 0;
      max-width: 100%;
      width: 100%;
      height: 0;
      max-height: 50%;
      overflow: hidden;
    }
  }
  .mdl-card__menu {
    color: #fff;
    z-index: 1;
  }
  footer.mdl-card__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .mdl-card__supporting-text {
      flex: 1;
      overflow: hidden;
      padding: 0;
      height: $card-supporting-text-line-height;
      width: 100%
    }
    nav {
      display: flex;
    }
  }

}
