*, *::before, *::after, input[type="search"] {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#mount {
  padding: 0 8px;
  height:100%;
}

.is-small-screen #mount {
  padding: 0 4px;
}

.mdl-layout__drawer-button {
  line-height: 65px;
}
.is-small-screen #mount .mdlext-demo-header {
  margin-left: 40px;
}

/* Rules for sizing the icon */
/* Not provided in "material-design-icons/iconfont/material-icon.css" */

.material-icons.md-12 {
     font-size: 18px;
   }
.material-icons.md-18 {
   font-size: 18px;
 }
.material-icons.md-24 {
   font-size: 24px;
 }
.material-icons.md-32 {
   font-size: 24px;
 }
.material-icons.md-36 {
   font-size: 36px;
 }
.material-icons.md-48 {
   font-size: 48px;
 }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
   color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
   color: rgba(0, 0, 0, 0.26);
 }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
   color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
   color: rgba(255, 255, 255, 0.3);
 }
