@import "../variables";

.mdlext-aria-toggle-plus-minus {
  @include mdlext-aria-toggle($font-family: inherit, $font-size: 1.4em);
}

.mdlext-aria-toggle-material-icons {
  @include mdlext-aria-toggle($font-size: 1.3em, $icon: 'expand_more', $icon-expanded: 'expand_less', $icon-offset: -8px);
}

.mdlext-accordion2 {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;

  &__header {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    padding: 0 $mdlext-accordion-header-padding;
    min-width: $mdlext-accordion-header-height;
    min-height: $mdlext-accordion-header-height;
    display: flex;
    align-items: center;
    align-self: stretch;
    user-select: none;
    color: $mdlext-accordion-header-secondary-color;
    background-color: $mdlext-accordion-header-background-color;

    @include typo-title();

    &:focus {
      outline-offset: -2px;
    }

    &[aria-expanded='true'] {
      background-color: $mdlext-accordion-header-background-open-color;
    }

    &[aria-selected='true'] {
      background-color: $mdlext-accordion-header-background-active-color;
    }

    &[disabled] {
      background-color: $mdlext-accordion-header-disabled-color;
      color: $mdlext-accordion-header-secondary-color-disabled;
      pointer-events: none;
    }

    &:hover:not([disabled]) {
      background-color: $mdlext-accordion-header-background-hover-color;
    }

    > * {
      // Uses 'align-items: center' - so no need for margins
      margin: 0;
      padding-left: $mdlext-accordion-header-padding;
    }

    .mdlext-accordion2__header_caption {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__panel {
    box-sizing: border-box;
    margin: 0;
    padding: 0 $mdlext-accordion-content-padding;
    display: block;
    overflow: auto;
    flex-grow: 1;

    &[hidden] {
      @include mdlext-visually-hidden;
    }
  }
}

// Vertical layout
.mdlext-accordion2 {

  &--vertical {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    .mdlext-accordion2__presentation {
      min-height: $mdlext-accordion-header-height;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      overflow: hidden;
    }

    .mdlext-accordion2__header {
      height: $mdlext-accordion-header-height;
      border-top: 1px solid $mdlext-accordion-header-border-color;

      > *:first-child {
        padding-left: 0;
      }

      > *:last-child:not(:only-child) {
        // If more than one element, push last element right
        margin-left: auto;
      }

      .mdlext-accordion2__header_caption {
        flex: 1;
      }
    }

    .mdlext-accordion2__panel {
      border-top: 1px solid $mdlext-accordion-header-border-color;
    }
  }
}

// Horizontal layout
.mdlext-accordion2 {

  &--horizontal {
    display: flex;

    .mdlext-accordion2__presentation {
      position: relative;
      display: flex;
      overflow: hidden;
      min-width: $mdlext-accordion-header-height;
      width: $mdlext-accordion-header-height;
    }

    &[aria-multiselectable='true'] .mdlext-accordion2__presentation.is-expanded {
      width: 100%;
    }

    .mdlext-accordion2__header {
      flex-direction: column-reverse;
      width: $mdlext-accordion-header-height;
      white-space: nowrap;
      border-left: 1px solid $mdlext-accordion-header-border-color;

      > * {
        transform: rotate(-90deg) translateX(50%);
      }

      > img,
      > button,
      > .material-icons,
      > *:first-child,
      > *:last-child {
        padding-left: 0;
      }

      > *:last-child:not(:only-child) {
        // If more than one element, push last element to top
        margin-bottom: auto;
        transform: rotate(-90deg) translateX(0);
      }
    }

    .mdlext-accordion2__panel {
      border-left: 1px solid $mdlext-accordion-header-border-color;
    }
  }

}

.mdlext-accordion2 {

  &__presentation:first-child > &__header {
    // Use container to set outer borders
    border-top-color: transparent;
    border-left-color: transparent;
  }

  &[aria-multiselectable="false"] {
    .mdlext-accordion2__presentation.is-expanded {
      flex-grow: 1;
    }
  }
}

